.DS_Store

build/*
server/build/*
cli/build/*

dist/*
server/dist/*
cli/dist/*
conduit/dist/*

node_modules/*
server/node_modules/*
cli/node_modules/*
conduit/node_modules/*
functional/node_modules/*

server/src/.mf.config.json
server/package.json

.mf.config.json
.vscode/*
output/*

server/coverage/*
cli/coverage/*
